<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hernaez.seven_eleven"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.USERPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.ADMINPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.PRODUCTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Imageview"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.IMAGEVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerOrder"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.CUSTOMERORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderSummary"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.ORDERSUMMARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReOrder"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.REORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>