<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hernaez.seven_eleven"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".viewcontroller.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewcontroller.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewcontroller.activity.AdminPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.ADMINPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewcontroller.activity.ProductListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.PRODUCTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewcontroller.activity.CustomerOrderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.CUSTOMERORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewcontroller.activity.OrderSummaryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.ORDERSUMMARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewcontroller.activity.ReOrderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hernaez.seven_eleven.REORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>